@model WeatherForecastApp.Models.Forecast
@{
    ViewBag.Title = "Weather Forecast";
}

<div>
    <p id="piopio">@Model.List[0].Dt_txt</p>
</div>

<div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#today" aria-controls="today" role="tab" data-toggle="tab">Today</a></li>
        <li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab">3 days</a></li>
        <li role="presentation"><a href="#seven" aria-controls="seven" role="tab" data-toggle="tab">7 days</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="today">
            <ul>
                @foreach (var w in Model.List)
                {
                    if (w.Dt_txt.Contains(DateTime.Now.ToString("yyyy-MM-dd")))
                    {
                        <li>@w.Main.Temp</li>
                    }
                }
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="three">ssss</div>
        <div role="tabpanel" class="tab-pane" id="seven">ffff</div>
    </div>

</div>