@model WeatherForecastApp.Models.Forecast
@{
    ViewBag.Title = "Weather Forecast";
}

<div>
    <h2>@Model.City.Name</h2>
</div>

<div>
    <div class="conteiner">
        <div class="row">
            @foreach (var item in Model.List)
            {
                @DailyWeather(item);
            }
        </div>
    </div>
</div>

@functions
{
    public IHtmlString DailyWeather(WeatherForecastApp.Models.List forecast)
    {
        return Html.Raw("<br><div class='container'><i class='owf owf-" + forecast.Weather[0].Id + "-d owf-5x owf-pull-left owf-border'></i>" +
            "<br>Day " + Math.Round(forecast.Temp.Day) +
            "°C<br>Night " + Math.Round(forecast.Temp.Night) +
            "°C<br>Humidity " + forecast.Humidity +
            "%<br>Pressure " + Math.Round(forecast.Pressure) + " Bar" +
            "<br>Wind " + DegreesToCardinal(forecast.Deg) + " " + forecast.Speed + " m/s " +
            "</div>");
    }

    public static string DegreesToCardinal(double degrees)
    {
        string[] caridnals = { "N", "NE", "E", "SE", "S", "SW", "W", "NW", "N" };
        return caridnals[(int)Math.Round(((double)degrees % 360) / 45)];
    }
}